.alert__button {
  display: block;
  position: absolute;
  top: 0;
}

.alert__button_right_remove {
  font-size: 1.5rem;
  height: 2rem;
  padding: .8rem 2rem 0 0;
  font-weight: bold;
  right: 0;
  cursor: pointer;
}