@import "../../00-plugins/bourbon/bourbon";
@import "__button.scss";
@import "__text.scss";

$danger: tint(red, 20%);
$warning: tint(yellow, 20%);
$info: tint(blue, 20%);
$success: tint(green, 20%);

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 1.5s;
}

.alert_danger {
  background-color: $danger;
}
.alert_warning {
  background-color: $warning;
}
.alert_info {
  background-color: $info;
}
.alert_success {
  background-color: $success;
}
