// Variable - move in separate file and import here
$boxShadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
            0px 3px 4px 0px rgba(0, 0, 0, 0.14),
            0px 1px 8px 0px rgba(0, 0, 0, 0.12);

@import '__preview';
@import '__info';

.product-card {
  position: relative;
  font-family: $helvetica;
  background-color: white;
  transition: all 1s;
  box-shadow: $boxShadow;
  &:hover {
    box-shadow: 0px 12px 12px -2px rgba(0, 0, 0, 0.2),
                0px 12px 16px 0px rgba(0, 0, 0, 0.14),
                0px 4px 32px 0px rgba(0, 0, 0, 0.12);    
  }  
}

.product-card_featured {
  order: -1;
}
